
@{
    ViewBag.Title = "Construccion";
}

<h2>Construcción</h2>
<h5>Gracias por visitar. Aun estamos trabajando en esto</h5>
<div class="container">

    <img src="~/Content/Img/Construccion/Construccion.gif" />
</div>