@{
    ViewBag.Title = "Inicio";
}
<div class="slider">
    <ul class="slides">
        <li>
            <img src="~/Content/img/carrousel/a.jpg">
            <div class="caption center-align">
                <h3 style="text-shadow: 3px 3px 5px black;">¡Por fin has encontrado la mejor oferta!</h3>
                <h5 style="text-shadow: 2px 2px 7px white;" class="black-text">¡Ahora solo te falta escoger tu mejor opción!</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/img/carrousel/b.jpg">
            <div class="caption left-align">
                <h3 style="text-shadow: 3px 3px 5px black;">Completamente renovado</h3>
                <h5 style="text-shadow: 2px 2px 7px black;" class="grey-text text-lighten-3">El hotel ha sido renovado a principios del 2021. Disfruta de nuestras nuevas y modernas instalaciones.</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/img/carrousel/c.jpg">
            <div class="caption right-align">
                <h3 style="text-shadow: 3px 3px 5px black;">¡No te decepcionará!</h3>
                <h5 style="text-shadow: 2px 2px 7px black;" class="grey-text text-lighten-3">Lo que esperabas de un hotel estás a punto de hacerlo realidad.</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/img/carrousel/d.jpg">
            <div class="caption center-align">
                <h3 style="text-shadow: 3px 3px 5px black;">¡Tú eres importante para nosotros!</h3>
                <h5 style="text-shadow: 2px 2px 7px white;" class="black-text">Reserva ahora y disfruta beneficios exclusivos.</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/img/carrousel/e.jpg">
            <div class="caption center-align">
                <h3 style="text-shadow: 3px 3px 5px black;">¡Esta es tu oportunidad!</h3>
                <h5 style="text-shadow: -2px -2px 7px white;" class="black-text">¡Muchos nos recomiendan! ¡Qué esperas!.</h5>
            </div>
        </li>
    </ul>
</div>

<h1 class="t1 center">Bienvenido/a</h1>
<h3 class="t2 center">Hotel "nombre del hotel" es tu mejor opción</h3>
<div class="row">
    <div class="col s12 m6 l3">
        <h3 class="t4 br-12-green p-5 deep-purple lighten-5">APROVECHA NUESTRAS PROMOCIONES</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum dapibus cursus. Mauris in imperdiet
            lacus, sit amet congue orci. Phasellus quis imperdiet leo. Nam dignissim eu metus sed finibus. Mauris
            porttitor finibus facilisis. Nam nec erat ante. Donec consectetur odio id ligula lobortis, ut rutrum purus
            sodales.
            Nam eu rutrum tortor. Vestibulum at dictum erat. Nullam dignissim lacus quis ipsum tincidunt feugiat.
            Proin aliquet tortor hendrerit, posuere purus a, ornare magna. Quisque arcu ex, commodo eu metus et, mollis
            ornare justo.
        </p>
    </div>
    <div class="col s12 m6 l3 mb-responsive-600">
        <h3 class="t4 br-12-green p-5 deep-purple lighten-5">DISFRUTA CON NUESTRAS HABITACIONES MODERNAS</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum dapibus cursus. Mauris in imperdiet
            lacus, sit amet congue orci. Phasellus quis imperdiet leo. Nam dignissim eu metus sed finibus. Mauris
            porttitor finibus facilisis. Nam nec erat ante. Donec consectetur odio id ligula lobortis, ut rutrum purus
            sodales.
        </p>
    </div>

    <div class="col s12 m6 l3">
        <h3 class="t4 br-12-green p-5 deep-purple lighten-5">RESERVA TU HABITACION EN LINEA</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum dapibus cursus. Mauris in imperdiet
            lacus, sit amet congue orci. Phasellus quis imperdiet leo. Nam dignissim eu metus sed finibus. Mauris
            porttitor finibus facilisis. Nam nec erat ante. Donec consectetur odio id ligula lobortis, ut rutrum purus
            sodales.
            Nam eu rutrum tortor. Vestibulum at dictum erat. Nullam dignissim lacus quis ipsum tincidunt feugiat.
            Proin aliquet tortor hendrerit, posuere purus a, ornare magna. Quisque arcu ex, commodo eu metus et, mollis
            ornare justo.
        </p>
    </div>
    <div class="col s12 m6 l3">
        <h3 class="t4 br-12-green p-5 deep-purple lighten-5">DISFRUTA CON PLATILLOS DE CALIDAD</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum dapibus cursus. Mauris in imperdiet
            lacus, sit amet congue orci. Phasellus quis imperdiet leo. Nam dignissim eu metus sed finibus. Mauris
            porttitor finibus facilisis. Nam nec erat ante. Donec consectetur odio id ligula lobortis, ut rutrum purus
            sodales.
            Nam eu rutrum tortor. Vestibulum at dictum erat. Nullam dignissim lacus quis ipsum tincidunt feugiat.
            Proin aliquet tortor hendrerit, posuere purus a, ornare magna. Quisque arcu ex, commodo eu metus et, mollis
            ornare justo.
        </p>
    </div>
</div>
<div class="divider"></div>

<div class="row">
    <div class="col s12 center" style="overflow-x:auto;">
        <h2 class="t2">Nuestra ubicación</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4573.349203485817!2d-77.28977452496525!3d38.80639459525803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2ssv!4v1626741552503!5m2!1ses-419!2ssv" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>

<div class="row">
    <div class="col s6 m8 l3">

    </div>
    <div class="col s6 m4 l3">

    </div>
    <div class="col s6 m4 l3">

    </div>
    <div class="col s6 m4 l3">

    </div>
</div>

<div class="row">
    <div class="col s12 center">
        <h3 class="t4">NUESTROS PROVEEDORES</h3>
        <img src="~/Content/img/proveedores/Prov1.png" style="width:200px; margin:10px;" class="p-5" />
        <img src="~/Content/img/proveedores/prov2.png" style="width:200px; margin:10px;" class="p-5"/>
        <img src="~/Content/img/proveedores/Prov3.png" style="width:200px; margin:10px;" class="p-5" />
    </div>
</div>
<div class="row">
    <div class="col s12 center">
        <h3 class="t4">ELLOS NOS RECOMIENDAN</h3>
        <img id="avatar1" src="~/Content/img/avatar/img_sprite.png" width="1" height="1" />
        <img id="avatar2" src="~/Content/img/avatar/img_sprite.png" width="1" height="1" />
        <img id="avatar3" src="~/Content/img/avatar/img_sprite.png" width="1" height="1" />
        <img id="avatar4" src="~/Content/img/avatar/img_sprite.png" width="1" height="1" />
        <img id="avatar5" src="~/Content/img/avatar/img_sprite.png" width="1" height="1" />
        <img id="avatar6" src="~/Content/img/avatar/img_sprite.png" width="1" height="1" />
        <img id="avatar7" src="~/Content/img/avatar/img_sprite.png" width="1" height="1" />
        <img id="avatar8" src="~/Content/img/avatar/img_sprite.png" width="1" height="1" />
        <img id="avatar9" src="~/Content/img/avatar/img_sprite.png" width="1" height="1" />
        <div id="chat-avatar1">Breve comentario de lo que piensen el cliente 1</div>     
        <div id="chat-avatar2">Breve comentario de lo que piensen el cliente 2</div>
        <div id="chat-avatar3">Breve comentario de lo que piensen el cliente 3</div>
        <div id="chat-avatar4">Breve comentario de lo que piensen el cliente 4</div>
        <div id="chat-avatar5">Breve comentario de lo que piensen el cliente 5</div>
        <div id="chat-avatar6">Breve comentario de lo que piensen el cliente 6</div>
        <div id="chat-avatar7">Breve comentario de lo que piensen el cliente 7</div>
        <div id="chat-avatar8">Breve comentario de lo que piensen el cliente 8</div>
        <div id="chat-avatar9">Breve comentario de lo que piensen el cliente 9</div>
    </div>
</div>

@section scripts{
    <script src="~/Content/script/indexHome.js"></script>
} 