@{
    ViewBag.Title = "Inicio";
}
<div class="slider">
    <ul class="slides">
        <li>
            <img src="~/Content/Img/Carrousel/a.jpg">
            <div class="caption center-align">
                <h3 style="text-shadow: 3px 3px 5px black;">¡Por fin has encontrado la mejor oferta!</h3>
                <h5 style="text-shadow: 2px 2px 7px white;" class="black-text">¡Ahora solo te falta escoger tu mejor opción!</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Img/Carrousel/b.jpg">
            <div class="caption left-align">
                <h3 style="text-shadow: 3px 3px 5px black;">Completamente renovado</h3>
                <h5 style="text-shadow: 2px 2px 7px black;" class="grey-text text-lighten-3">El hotel ha sido renovado a principios del 2021. Disfruta de nuestras nuevas y modernas instalaciones.</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Img/Carrousel/c.jpg">
            <div class="caption right-align">
                <h3 style="text-shadow: 3px 3px 5px black;">¡No te decepcionará!</h3>
                <h5 style="text-shadow: 2px 2px 7px black;" class="grey-text text-lighten-3">Lo que esperabas de un hotel estás a punto de hacerlo realidad.</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Img/Carrousel/d.jpg">
            <div class="caption center-align">
                <h3 style="text-shadow: 3px 3px 5px black;">¡Tú eres importante para nosotros!</h3>
                <h5 style="text-shadow: 2px 2px 7px white;" class="black-text">Reserva ahora y disfruta beneficios exclusivos.</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Img/Carrousel/e.jpg">
            <div class="caption center-align">
                <h3 style="text-shadow: 3px 3px 5px black;">¡Esta es tu oportunidad!</h3>
                <h5 style="text-shadow: -2px -2px 7px white;" class="black-text">¡Muchos nos recomiendan! ¡Qué esperas!.</h5>
            </div>
        </li>
    </ul>
</div>

<h2 class="center">Bienvenido/a será un placer servirte</h2>

@section scripts{
    <script src="~/Content/Script/indexHome.js"></script>
} 