@{
    ViewBag.Title = "Inicio";
}
<div class="slider">
    <ul class="slides">
        <li>
            <img src="~/Content/Img/Carrousel/a.jpg">
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Img/Carrousel/b.jpg">
            <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Img/Carrousel/c.jpg">
            <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Img/Carrousel/d.jpg">
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Img/Carrousel/e.jpg">
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>

<h2 class="center">Bienvenido a nuestro sitio web</h2>

@section scripts{
    <script src="~/Content/Script/indexHome.js"></script>
} 