@model IEnumerable<SysHotel.EL.Reservacion>

@{
    ViewBag.Title = "Administración";
}

<h3>Administración</h3>
<div class="row">
    <div class="col s12" style="margin-bottom:7px;">
        <ul class="tabs">
            <li class="tab col s4"><a href="#reservas">Reservas para este día</a></li>
            <li class="tab col s4"><a href="#notas">Mis notas</a></li>
            <li class="tab col s4"><a href="#anuncios">Anuncios</a></li>
        </ul>
    </div>
    <!--Paneles desplazales-->
    <div id="reservas" class="col s12">
        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <div class="row" style="font-size:18px;">
                    <div class="col s12 m6 l3"><b>Cliente: </b>@Html.DisplayFor(modelitem => item.cliente.Nombres)</div>
                    <div class="col s12 m6 l3"><b>Ingreso: </b>@Html.DisplayFor(modelitem => item.DiaEntrada)</div>
                    <div class="col s12 m6 l2"><b>Habitación: </b>@Html.DisplayFor(modelitem => item.habitacion.NumeroHabitacion)</div>
                    <div class="col s12 m6 l2"><b>Personas: </b>@Html.DisplayFor(modelitem => item.NumeroPersonas)</div>
                    <div class="col s12 m6 l2">
                        <i class="material-icons"><a class="tooltipped" style="color:rgb(16 107 0)" data-position="bottom" data-tooltip="Editar" href="~/Reservacion/Edit/@item.IdReservacion">edit</a></i>|
                        <i class="material-icons"><a class="tooltipped" style="color:mediumpurple" data-position="bottom" data-tooltip="Detalles" href="~/Reservacion/Details/@item.IdReservacion">description</a></i>|
                        <i class="material-icons"><a class="tooltipped" style="color:rgb(32 66 204)" data-position="bottom" data-tooltip="Marcar" href="~/Reservacion/Marcar/@item.IdReservacion">today</a></i>|
                        <i class="material-icons"><a class="tooltipped" style="color:orange" data-position="bottom" data-tooltip="Cancelar" href="~/Reservacion/Cancel/@item.IdReservacion">cancel</a></i>|
                    </div>
                </div>
                <div class="divider"></div>
            }
        }
        else
        {
            <p>No hay nada que mostrar.</p>
        }
    </div>
    <div id="notas" class="col s12">Notas</div>
    <div id="anuncios" class="col s12">Anuncios</div>
</div>

@section scripts{
    <script>M.AutoInit();</script>
    <script src="~/Content/Script/indexAdmin.js"></script>
}  
